<%- include ('./partials/head.ejs') %>

  <body>
  <div class="body-overlay">
    <!-- ============ HEADER ============ -->
      <%- include ('./partials/header.ejs') %>
        <!-- ============ MAIN ============ -->
        <main>
          <div>
            <h1>Select:</h1>
            <ul>
              <% for (let i = 0; i < opera.length; i++) { %>
              <li>
                <h1><a href="/opera/<%= opera[i].id %>">
                  <%=opera[i].name%>
                </a></h1><br/>

                    <h5><a href="/opera/<%=opera[i].id %>/edit">EDIT</a></h5>

                    <form action="/opera/<%=opera[i].id %>?_method=DELETE" method="POST">
                      <input type="submit" value="DELETE">
                    </form>

              </li>
              <% } %>
            </ul>


          </div>
        </main>

<!-- ============ FOOTER ============ -->
      <%- include ('./partials/footer.ejs') %>
  </div>
  </body>
